<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="ISAPI-dll" />
            <add name="ISAPI-dll" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\jonan\Downloads\PyISAPIe-1.0.130\PyISAPIe-1.0.130\PyISAPIe.dll" resourceType="Unspecified" requireAccess="Execute" allowPathInfo="true" preCondition="bitness32" />
        </handlers>
    </system.webServer>
</configuration>
